fastapi
uvicorn[standard]
pandas
httpx
numpy==1.26.4
pillow
openai>=1.0.0

python-multipart
pydantic
pydantic-settings

requests
duckduckgo-search

python-dotenv

azure-cognitiveservices-vision-customvision

